*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}

.custom_btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    padding: 15px 42px;
    border-radius: 10px;
    background: #6A4DF4;
    border: 0;
}



/* ========navbar============= */


.navbar{
    padding: 0;
    position: absolute;
    width: 100%;
    top: 50px;
}

.navbar .navbar-brand{
    padding: 0;
}

.navbar .navbar-nav {
    column-gap: 67px;
}

.navbar .navbar-nav .nav-item .nav-link{
    padding: 0 !important;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    transition: .4s;
}
.navbar .navbar-nav .nav-item .active{
    color: #4756DF;
}

.navbar .navbar-nav .nav-item .nav-link:hover{
    color: #4756DF;
}


/* ========navbar============= */


/* ==========banner=========== */

#banner_part{
    background: url(../images/banner1.jpg) no-repeat center/cover;
}

#banner_part .overlay{
    padding: 315px 0 272px;
    background: rgba(0, 0, 0, 0.6);
    
}
#banner_part .overlay .container{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    text-align: center; 
}
#banner_part .overlay .container h1{
    max-width: 950px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

#banner_part .overlay .container p{
    max-width: 621px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 51px 0 40px;

}

/* ==========banner=========== */

/* ===========Success_Part========== */


#success_part{
    margin-top: 171px;
}

#success_part .container{
    padding: 69px 51px 86px 50px;
    border-radius: 20px;
    background: #E0FFF9;
}

#success_part .container .left{
    margin-top: 16px;
}

#success_part .container .left h3{
    color: #6A4DF4;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

#success_part .container .left h2{
    color: #151515;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#success_part .container .text {
    display: flex;
    justify-content: flex-end;
    column-gap: 110px;
}

#success_part .container .text .item h4{
    color: #151515;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#success_part .container .text .item p{
    color: #737373;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}


/* ===========Success_Part========== */


/* ============service_part============ */

#service_part {
    margin-top: 149px;
}

/* #service_part .container{
    justify-content: center;
    align-items: center;  
    text-align: center; 
} */

#service_part .container  h4{
    color:  #151515;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 414px 0;
    text-align: center; 
}

#service_part .container p{
    color: #737373;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
    padding: 0 354px 50px 356px;
}

#service_part .container .top{
    display: flex;
    justify-content: space-between
}

#service_part .container .top .item{
    max-width: 424px;
    border-radius: 20px;
    background: #FFF;
}

#service_part .container .top .item:nth-child(even){
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

#service_part .container .top .item .logo{
    width: 98.664px;px;
    padding: 80px 162.92px 0;

}

#service_part .container .top .item .text h3{
    color: #151515;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 40.5px 138px 20px 139px;
}

#service_part .container .top .item .text h5{
    color: #737373;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 0 49px 47px;
}

#service_part .container .bottom{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 103px;
    
}

#service_part .container .bottom .item{
    max-width: 424px;
    border-radius: 20px;
    background: #FFF;
}

#service_part .container .bottom .item .logo{
    width: 98.664px;px;
    padding: 80px 162.92px 0;

}

#service_part .container .bottom .item .text h3{
    color: #151515;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 40.5px 138px 20px 139px;
}

#service_part .container .bottom .item .text h5{
    color: #737373;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 0 49px 47px;
}


/* ============service_part============ */


/* ===========Work_part============ */



#work_part {
    background: #F3F3F3;
}

#work_part .container  h4{
    color:  #151515;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 150px 414px 0;
    text-align: center; 
}

#work_part .container p{
    color: #737373;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
    padding: 0 354px 50px 356px;
}

#work_part .container .top{
    display: flex;
    justify-content: space-between
}

#work_part .container .top .item{
    max-width: 424px;
    border-radius: 20px;
    background: #FFF;
}

#work_part .container .top .item .image img:nth-child(odd){
    border-radius: 3px;
}

#work_part .container .top .item .text h3{
    color: #151515;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 30px 99px 10px 100px;
}

#work_part .container .top .item .text h5{
    color: #737373;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 0 42px 30px;
}

#work_part .container .bottom{
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
    margin-top: 20px
    
}

#work_part .container .bottom .item{
    max-width: 424px;
    border-radius: 20px;
    background: #FFF;
}


#work_part .container .bottom .item .text h3{
    color: #151515;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 30px 99px 10px 100px;
}

#work_part .container .bottom .item .text h5{
    color: #737373;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 0 42px 30px;
}
























/* ===========Work_part============ */