*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1344px;
}

a{
    text-decoration: none;
    display: inline-block;
}

.custom_btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    padding: 15px 42px;
    border-radius: 10px;
    background: #6A4DF4;
    border: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.title {
    text-align: center;
    margin-bottom: 50px;
}

.title  h4{
    color:  #151515;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 492px;
    margin: 0 auto;
}

.title p{
    color: #737373;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 609px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}

/* ========navbar============= */


.navbar{
    padding: 0;
    position: absolute;
    width: 100%;
    top: 50px;
    z-index: 9;
}

.navbar .navbar-brand{
    padding: 0;
}

.navbar .navbar-nav {
    column-gap: 67px;
}

.navbar .navbar-nav .nav-item .nav-link{
    padding: 0 !important;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    transition: .4s;
}
.navbar .navbar-nav .nav-item .active{
    color: #4756DF;
}

.navbar .navbar-nav .nav-item .nav-link:hover{
    color: #4756DF;
}


/* ========navbar============= */


/* ==========banner=========== */

.banner_part{
    background: url(../images/banner1.jpg) no-repeat center/cover;
}
.banner_part02{
    background: url(../images/banner02.avif) no-repeat center/cover;
}
.banner_part03{
    background: url(../images/banner03.webp) no-repeat center/cover;
}
.banner_part04{
    background: url(../images/banner04.jpg) no-repeat center/cover;
}



#banner_part .overlay{
    padding: 315px 0 272px;
    background: rgba(0, 0, 0, 0.6);
    
}
#banner_part .overlay .container{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    text-align: center; 
}
#banner_part .overlay .container h1{
    max-width: 950px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

#banner_part .overlay .container p{
    max-width: 621px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 51px 0 40px;

}

.main_banner_slidder{
    position: relative;
}

.main_banner_slidder ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 53px;
    display: flex;
    column-gap: 2px;
}

.main_banner_slidder ul li button{
    width: 24px;
    height: 24px;
    border: 4px solid #4756DF;
    background: #4756DF;
    border-radius: 50%;
    font-size: 0;
}

.main_banner_slidder ul .slick-active button{
    border-color: #FFFFFF;
}

/* ==========banner=========== */

/* ===========Success_Part========== */


#success_part{
    margin-top: 171px;
}

#success_part .container{
    padding: 69px 51px 86px 50px;
    border-radius: 20px;
    background: #E0FFF9;
}

#success_part .container .left{
    margin-top: 16px;
}

#success_part .container .left h3{
    color: #6A4DF4;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

#success_part .container .left h2{
    color: #151515;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#success_part .container .text {
    display: flex;
    justify-content: flex-end;
    column-gap: 110px;
}

#success_part .container .text .item h4{
    color: #151515;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#success_part .container .text .item p{
    color: #737373;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}


/* ===========Success_Part========== */


/* ============service_part============ */

#service_part {
    padding: 149px 0 103px;
}

#service_part .main{

    text-align: center;
    padding: 80px 49px 46.66px;
    border-radius: 20px;
    transition: .4s;
}

#service_part .container .row{
    row-gap: 24px;
}

#service_part .main h3{
    color: var(--Dark-01, #151515);
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 40px 0 20px;
}

#service_part .main p{
    color: var(--Dark-03, #737373);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

#service_part .main:hover{
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

/* ============service_part============ */


/* ===========Work_part============ */



#work_part {
    background: #F3F3F3;
    padding-bottom: 150px;
}

#work_part .title h4{
    padding: 150px 0 20px ;
}

#work_part .title p{
    width: 620px;
    margin-bottom: 106px;
}

#work_part .main_w{
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}

#work_part .main_w h3{
    color: var(--Dark-01, #151515);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
}

#work_part .main_w p{
    color: var(--Dark-03, #737373);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 10px 42px 30px;
}


/* ===========Work_part============ */

/* ===========agenc_part============ */

#agenc_part{
    padding: 150px 0 106px;
}


#agenc_part .title p{
    width: 802px;
    margin: 0 auto;
    padding: 20px 0 130px;
}

#agenc_part .main h3{
    color: var(--Dark-01, #151515);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px 0 10px;
}

#agenc_part .main p{
    color: var(--Dark-03, #737373);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 344px;
}


#agenc_part .container .main .top{
    margin-bottom: 88px;
}


#agenc_part .agence_team{
    border-radius: 20px;
    width: 100%;
}


/* ===========agenc_part============ */



/* =============review_part=============== */


#review_part{
    padding: 106px 0 227px;
}
#review_part .container{
    max-width: 1368px;
}
#review_part .container .title{
    margin-bottom: 130px;
}


#review_part .main_slider .review_item{
    padding: 54px 58px;
    background: transparent;
    margin: 0 12px;
    transition: .7s;
}


#review_part .main_slider .slick-center{
    border-radius: 30px;
    background: #F4EFEF; 
}

#review_part .main_slider .review_item p{
    width: 307px;
    color: var(--Dark-03, #7B7B7B);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 20px 0 20px;
    margin-bottom: 0;
}

#review_part .main_slider .review_item .icon{
    height: 24px;
    color: #F9BD2C;
}

#review_part .main_slider .review_item .client{
    display: flex;
}

#review_part .main_slider .review_item .client image{
    height: 47px;
}

#review_part .main_slider .review_item .client .text h3{
    color: var(--Dark-01, #232323);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 24px */
    padding-top: 30px;
    padding-left: 20px;
}

#review_part .main_slider .review_item .client .text h5{
    color: var(--Dark-03, #7B7B7B);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-left: 20px;
}

#review_part .main_slider .review_item .client .image{
    padding-top: 34px;
}

#review_part .main_slider {
    position: relative;
}

#review_part .main_slider .left{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    height: 40px ;
    width: 40px;
    background: #4756DF;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 99999;

}

#review_part .main_slider .right{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
    height: 40px ;
    width: 40px;
    background: #4756DF;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 99999;

}


/* =============review_part=============== */




/* =============price_part=============== */

#price_part{
    background: #F3F3F3;
}
#price_part .item{
    display: flex;
}

#price_part .item .l{
    padding: 327px 0;
}


#price_part .col-lg-6 .titl{
    text-align: left;
}

#price_part .col-lg-6 .titl h4{
    width: 470px;
    color: var(--Dark-01, #151515);
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#price_part .col-lg-6 .titl p{
    width: 514px;
    color: var(--Dark-03, #7B7B7B);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#price_part .col-lg-6 .titl h5{
    width: 526px;
    color: var(--Dark-03, #737373);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}


#price_part .form{
    border-radius: 20px;
    background: #FFF;
    width: 536px;
    height: 622px;
    padding: 61px 61px;
}

#price_part .form h2{
    color: var(--Dark-01, #151515);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-bottom: 30px;
}

#price_part .form .mb-3 .form-label{
    color: var(--Dark-01, #151515);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

#price_part .form .mb-3 .form-control{
    width: 450px;
    height: 64px;
    border-radius: 20px;
    background: #FFF;
}

#price_part .form .mb-3 .form-control{
    color: var(--Dark-05, #D0D0D0);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}


#price_part .form .price_btn{
    width: 450px;
    height: 64px;
    border-radius: 10px;
    background: var(--Primary-Color, #6A4DF4);
}

#price_part .form button{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 130% */
}

#price_part .item .r{
    padding: 150px 158px ;
}


/* =============price_part=============== */
